{% extends "layout.html" %}
{% block body%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <h1 style="margin-top:50px; text-align:center; margin-bottom:50px;">Как мы работаем</h1>

    <div  style="background-color: #f3f5f7;">
        <div class="container">
            <div  class="row">
                <div style="margin-top:60px; margin-bottom:60px; background-color:white;" class="col-10 col-sm-6 col-md-12">
                    <h3 style="margin-top:50px; text-align:center; margin-bottom:50px;">Как мы работаем</h3>

                    <div style = "margin-bottom:50px; padding-left: 120px; padding-right: 120px; font-size:20px; font-family:sans-serif;">



                            <p style="line-height:30px; margin-top:40px;"><b>Tezbilet.kg не занимается продажей авиабилетов.</b> Наша основная задача - помочь вам найти лучшее из того, что предлагают наши надежные партнеры по всему миру. Сам процесс покупки происходит на веб-сайте нашего партнера, чье предложение вам больше всего понравится.</p>
                                <p>Tezbilet.kg не делает наценок и не берет комиссии и вознаграждения со своих пользователей. Свои комиссионные мы получаем, непосредственно, от наших партнеров, за то, что привлекаем клиентов на их веб-сайты.</p>
                                <p>Мы сотрудничаем с огромным количеством агентств по всему миру и можем предложить широкий спектр маршрутов, различных акций и скидок. Прямая связь с авиакомпаниями и агентствами позволяет нам моментально обновлять тарифы и специальные предложения.</p>
                                <p>Наши партнеры – это компании с высокой репутацией, доказавшие свою надежность и высокий профессионализм. Мы очень ценим доверие наших клиентов, без которого невозможен наш собственный рост. Поэтому, мы всегда тщательно отбираем компании, с которыми заключаем партнерство.</p>
                                <p><b>Если у вас имеются вопросы по поводу приобретенных авиабилетов</b> или нужно внести какие-то изменения (сдать/обменять), рекомендуем обратиться к представителям компании, у которой был заказан билет.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}