{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %} | Панель приборов {% endblock %}

{% block body %}

<h3>Панель управление</h3>
<hr>
<p>
    Добро пожаловать в панель управления {{request.user.username}}
</p>
<hr>
<a class="btn btn-success" href = "/blog/addarticle">Добавить статью</a>
<hr>
{% if articles %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Добавить статью</th>
          <th scope="col">Заголовок</th>
          <th scope="col">Автор</th>
          <th scope="col">Дата создания</th>
          <th scope="col">Обновлять</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <th scope="row">{{article.id}}</th>
          <td><a href="{% url 'blog:detail' article.id %}">{{article.title}}<a/></td>
          <td>{{article.author.username}}</td>
          <td>{{article.created_date}}</td>
          <td><a class="btn btn-success" href="{% url 'blog:update' article.id %}">Update</a></td>
          <td><a class="btn btn-danger"  href="{% url 'blog:delete' article.id %}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <div class="alert alert-danger">
        У вас пока нет статей
    </div>
{% endif %}

{% endblock %}