<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    {% include "includes/navbar.html" %}
    <div style="margin-top:50px; margin-bottom:70px;" class="container">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "info" %}
                        <div class ="alert alert-danger">{{message}}</div>
                    {% else %}
                         <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endif %}
                {% endfor %}
        {% endif %}

        {% block body %}

        {% endblock %}
    </div>


<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

{% include "includes/footer.html" %}
</body>

</html>